{% extends 'base.html.twig' %}

{% block body %}
    <h1>Job creation</h1>

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_widget(form) }}

        <div class="form-group">
            	<div class="col-sm-offset-2 col-sm-10">
                	<div class="form-group">
			            <button type="submit" class="btn btn-primary active">Create</button>
			        	
			            <a href="{{ path('job.list') }}" class="btn btn-default active">Volver</a>         
			        </div>
            	</div>
        </div>
    {{ form_end(form) }}
{% endblock %}